.form-row-l{
    @media (min-width: 1024px) { 
        width: 90%;      
    }
    @media (max-width: 1024px) {
        width: 90%;
    }
    @media (max-height: 700px) {
        width: 90%;
    }
    @media (max-width: 768px) {
        width: 90%;
    }
    @media (max-width: 480px) {
        width: 90%;
    }
}

.form-row-r{
    @media (min-width: 1024px) { 
        width: 8%;    
        margin: 0 0 0 2%;  
    }
    @media (max-width: 1024px) {
        width: 8%;
        margin: 0 0 0 2%;  
    }
    @media (max-height: 700px) {
        width: 8%;
        margin: 0 0 0 2%;  
    }
    @media (max-width: 768px) {
        width: 8%;
        margin: 0 0 0 2%;  
    }
    @media (max-width: 480px) {
        width: 8%;
        margin: 0 0 0 2%;  
    }
}

.delete-btn{
    border-radius: 50%;
}